export(equivt)
export(linear.comparison)
export(paired_resample)
export(t1way)
export(t2way)
export(tukey)
export(yuen)
S3method(print,equivt)
S3method(print,linear.comparison)
S3method(print,t1way)
S3method(print,yuen)
